<!-- header -->

<header class="text-gray-700 body-font shadow-lg bg-gray">
    <div class="container mx-auto flex flex-wrap p-4 flex-col md:flex-row items-center">
        <nav class="flex lg:w-2/5 flex-wrap items-center text-base md:ml-auto">

        </nav>
        <a
            class="flex order-first lg:order-none lg:w-1/5 title-font font-medium items-center text-gray-900 lg:items-center lg:justify-center cursor-pointer  transform hover:scale-105">
            <img src="assets/logo.jpg" class="w-9 h-8">
            <span class="ml-2 text-xl">
                <span>Speaky</span> <span class="text-red-600"> Notes</span>
            </span>
        </a>
        <div class="lg:w-2/5 inline-flex lg:justify-end ml-5 lg:ml-0">

        </div>
    </div>
</header>

<!-- body -->
<section class="text-gray-700 body-font relative">
    <div class="container px-5 py-12 mx-auto">
        <div class="text-center mb-8">
            <h1
                class="md:text-3xl text-xl font-medium title-font text-gray-900 mb-2 cursor-pointer transform hover:scale-105">
                Speech Recognition Notes App</h1>
            <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto">A tiny app that allows you to make notes by
                recording your voice.</p>
            <div class="flex mt-6 justify-center">
                <div class="w-16 h-1 rounded-full bg-red-600 inline-flex"></div>
            </div>
        </div>
        <div class="lg:w-1/2 md:w-2/3 mx-auto">
            <div class="flex flex-wrap -m-2">
                <div class="p-2 w-full">
                    <textarea
                        class="w-full rounded border border-gray-400 focus:outline-none h-48 focus:border-red-400 text-base px-4 py-2 resize-none block"
                        placeholder="Add New Note" id="result"></textarea>
                </div>
                <div class="mx-auto my-2">
                    <div class="flex flex-wrap justify-center">
                        <button
                            class="inline-flex text-white bg-red-600 border-0 py-1 px-4 focus:outline-none hover:bg-red-700 rounded text-sm"
                            id="btn" onclick='recognition.start()'><i class="fa fa-microphone py-1"
                                aria-hidden="true"></i>&nbsp; Start Recognition</button>
                        <button
                            class="ml-4 inline-flex text-white bg-red-600 border-0 py-1 px-4 focus:outline-none hover:bg-red-700 rounded text-sm"
                            onclick='stop()'><i class="fa fa-stop py-1" aria-hidden="true"></i>&nbsp; Stop
                            Recognition</button>
                        <button
                            class="md:my-0 my-4 ml-4 inline-flex text-white bg-red-600 border-0 py-1 px-4 focus:outline-none hover:bg-red-700 rounded text-sm"
                            onclick='saveNote()'><i class="fa fa-floppy-o py-1" aria-hidden="true"></i>&nbsp; Save
                            Note</button>
                    </div>
                    <div class="text-center my-2" id="instructions">
                        Press the <b>Start Recognition</b> button and allow access.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>
<section class="text-gray-700 body-font relative">
    <div class="container md:px-32 px-8 py-16 mx-auto">
        <div class="text-center mb-8">
            <h1
                class="md:text-3xl text-xl font-medium title-font text-gray-900 mb-2 transform hover:scale-105 cursor-pointer">
                My Notes</h1>
            <div class="flex mt-6 justify-center">
                <div class="w-16 h-1 rounded-full bg-red-600 inline-flex"></div>
            </div>
        </div>
        <div class="py-8 flex border-t-2 border-gray-200 flex-wrap md:flex-no-wrap" *ngFor="let n of notes;let i=index">
            <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                <span class="tracking-widest font-medium title-font text-gray-900">NOTE {{i+1}}</span>
                <span class="mt-1 text-gray-500 text-sm">{{n.date}}</span>
            </div>
            <div class="md:flex-grow">
                <p class="leading-relaxed">{{n.content}}</p>
                <div class="my-2">
                    <a class="text-green-600 rounded-lg cursor-pointer hover:underline" (click)="listen(n.date)">Litsen
                        to Note</a>
                    <a class="text-red-600 ml-2 rounded-lg cursor-pointer hover:underline"
                        (click)="delete(n.date)">Delete</a>
                </div>
            </div>
        </div>
        <!-- <div class="flex flex-col px-2" style="overflow-x: hidden;">
            <div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
                <div
                    class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
                    <table class="min-w-full">
                        <thead>
                            <tr>
                                <th
                                    class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                    #
                                </th>
                                <th
                                    class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                    Date
                                </th>
                                <th
                                    class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                    Notes
                                </th>
                                <th class="px-6 py-3 border-b border-gray-200 bg-gray-50">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="notes">
                                <tr *ngFor="let n of notes;let i=index">
                                    <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                        <div class="text-sm leading-5 text-gray-900">{{i+1}}</div>
                                    </td>
                                    <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                        <div class="text-sm leading-5 text-gray-900" id="date">{{n.date}}</div>
                                    </td>
                                    <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                                        <div class="text-sm leading-5 text-gray-900">{{n.content}}</div>
                                    </td>
                                    <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-center">
                                        <a class="text-green-600 mx-1 rounded-full p-2 cursor-pointer hover:underline"
                                            (click)="listen(n.date)">Litsen
                                            to Note</a>
                                        <a class="text-red-600  mx-1 rounded-full p-2 cursor-pointer hover:underline"
                                            (click)="delete(n.date)">Delete</a>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> -->
    </div>
</section>